/* Custom scrollbar - Keep minimal CSS as Tailwind doesn't support custom scrollbars well */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(240, 240, 240);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(11, 83, 103);
}

/* RTL border fixes - Keep for RTL support as Tailwind RTL utilities don't handle dynamic borders well */
html[dir="rtl"] .side-menu-container li a.border-l-4,
html.rtl .side-menu-container li a.border-l-4 {
  border-left: 0 !important;
  border-right-width: 4px !important;
  border-right-style: solid !important;
}

html[dir="rtl"] .side-menu-container li a.border-accentOld,
html.rtl .side-menu-container li a.border-accentOld {
  border-right-color: rgb(201, 174, 129) !important;
  border-left: 0 !important;
}
