:host ::ng-deep {
  .dialog-container {
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  }

  .dialog-backdrop {
    background-color: rgba(17, 24, 39, 0.5);
  }
}
