@tailwind base;
@tailwind components;
@tailwind utilities;

.toast-success {
  background-color: #28a745 !important;
  color: #fff;
}
.toast-error {
  background-color: #dc3545 !important;
  color: #fff;
}
.toast-warning {
  background-color: #ffc107 !important;
  color: #212529;
}
